{% extends "base.html" %}
{% load static %}




{% block content %}
<main class="container">
    <div class="home-main">
        
    <div class="home-left">
        <h1 class="home-title">Funky Feet</h1>
        <p>Elusive brands and shoes, for every ladies needs. From a causal trainer to a pair of shoes you can dance the night away in, whatever shoe you need you'll find it here.</p>
        <div>
            <a href="{% url 'products' %}">Shop now</a>
        </div>
    </div>
    <div class="home-right">
        
        <img class="max" alt="A single pink high heel" src="https://funky-feet.s3.amazonaws.com/media/cross-strap-kitten-heel.png" />
    </div>
    <div>
</main>
{% endblock %}