{% extends "base.html" %}
{% load static %}




{% block content %}
<main class="container">
    <div class="home-main">
        
    <div class="home-left">
        <h1 class="home-title">Funky Feet</h1>
        <p>Elusive brands aspiisaghd kuasgdkjhasg djh gasjkhldg ajkhsg dhj agskjh dgas</p>
        <div>
            <a href="#">Shop now</a>
        </div>
    </div>
    <div class="home-right">
        
        <img class="max" alt="A single pink high heel" src="https://funky-feet.s3.amazonaws.com/media/cross-strap-kitten-heel.png" />
    </div>
    <div>
</main>
{% endblock %}