<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Shoes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="heels-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Heels
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="heels-link">
                <a href="{% url 'products' %}?category=high_heels" class="dropdown-item">High Heels</a>
                <a href="{% url 'products' %}?category=kitten_heels" class="dropdown-item">Kitten Heels</a>
                <a href="{% url 'products' %}?category=wedges" class="dropdown-item">Wedges</a>
                <a href="{% url 'products' %}?category=high_heels,kitten_heels,wedges" class="dropdown-item">All Heels</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="flats-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Flats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="flats-link">
                <a href="{% url 'products' %}?category=trainers" class="dropdown-item">Trainers</a>
                <a href="{% url 'products' %}?category=pumps" class="dropdown-item">Pumps</a>
                <a href="{% url 'products' %}?category=sandals" class="dropdown-item">Sandals</a>
                <a href="{% url 'products' %}?category=trainers,pumps,sandals" class="dropdown-item">All Flats</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="boots-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Boots
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="boots-link">
                <a href="{% url 'products' %}?category=winter_boots" class="dropdown-item">Winter Boots</a>
                <a href="{% url 'products' %}?category=fashion_boots" class="dropdown-item">Fashion boots</a>
                <a href="{% url 'products' %}?category=winter_boots,fashion_boots,work_boots" class="dropdown-item">All Boots</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
        <!-- Blog section -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="{% url 'view_blog' %}"
                id="explore-link" aria-expanded="false">
                Blog
            </a>
        </li>
    </ul>
</div>